*{
    text-align: center;
}
body{
    background-color: rgba(243, 184, 245, 0.779);
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(168, 66, 66, 0.76);
}
#btn{
    background-color: rgb(132, 169, 237);
    color: rgba(253, 253, 253, 0.758);
    height: 100px;
    width:170px;
    border-radius: 8px;
    font-size: 180%;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
   
}
div{
    margin: auto;
    height: 300px;
    width: 600px;
    background-color: rgba(129, 129, 199, 0.648);
    margin-top : 50px;
    border-radius: 10px;
    border: 2px solid burlywood;
}